.container {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.square:hover {
    background-color: #f0f0f0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.players {
    display: flex;
    gap: 20px;
}

.button {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: orange;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

.player {
    font-size: 24px;
}
